body{
background-color:#ddd;
font-family:arial;
font-size:14px;
}
a:link{
color:#000;
text-decoration:underline;
}
a:visited{
color:#000;
text-decoration:underline;
}
a:hover{
color:#000;
cursor:pointer;
text-decoration:none;
}
a:active{
color:#f00;
cursor:pointer;
text-decoration:none;
}
a:focus,a:hover,a:active{
outline:none;
}
img{
border-style:none;
border-width:0;
}
#head,#foot,#content{
padding:10px;
}
#content{
background-color:#fff;
border:1px solid #000;
}
th{
font-size:80%;
background-color:#ddd;
}
#show_dirs table{
width:100%;
}
#show_dir td{
font-size:80%;
}
#show_dir tr:hover{
background-color:#eee;
}
td.size{
text-align:right;
}
.r{
color:#f00;
}
.g{
color:#0f0;
}